@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Questrial);
* { margin:0; padding:0; box-sizing:border-box; }

body{
	background-color:none;
	font-family: 'Libre Baskerville', serif;
	font-weight: normal;
	font-size: 18px;
}

h1, h2, h3 {
	font-family: 'Questrial', sans-serif;

}

ul{
	list-style:none;
}
li{
	padding:.2em;
}

footer {	

	background-color: rgba(240, 90, 10, .8);
	padding: 1em;
	text-align: center;
}

header {
	background-color: white;
	border-bottom: 2px black solid;
	padding: 1em;
	float: left;
	width: 100%;
	position:fixed;
}


header h1{
	float:left;
	font-size:30px;
	border-bottom: 3px solid #F05A0A;
 
}

nav {

	float:right;
	padding-top: .4em;
	font-family:'Questrial', sans-serif;
	font-weight:bold;
	font-size: 22px;
	text-decoration-color: #F05A0A;

}

nav a{
	color:  rgb(240, 90, 10);
	text-decoration:none;
	padding: .8em;
	
}


.about_us {
	background-color: rgba(255, 255, 255, .8);
	color: black;
	border-bottom: 1px black solid;
	padding:20px;
	clear:both; 

}
.about_us h2{
	font-weight:bolder;
	margin: 1em 1em;
	border-bottom: 2px solid rgb(240, 90, 10);
}
.about_us p{
	padding: 0 2em 1em 2em;
	
}

#wrapper{
	background: url('../images/image.jpg') no-repeat fixed;  
    background-size: cover; 
}

#slogan h2 {
	color:white;
	padding:3.5em 5% .5em 10%;
	content:auto;
	background-color: rgba(240, 90, 10, .9) ;
}


.box  {
	background-color: rgb(240, 90, 10);
	border: 5px solid black;
	border-radius: .2em;
	color: white;
	padding: .4em;
	width: inherit;
}

.client{
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid black;
	padding: 1em;
	clear:both; 
	}

.client h2{
	font-size:28px;
	font-style:bold;
	border-bottom: 2px solid rgb(240, 90, 10);
}

.client p{
	padding: .8em;
}

.inventory {
	background-color: rgba(255, 255, 255, .8);
	padding: 20px;
	line-height:1em;
	clear:both;
}


#two_column {
	background-color: rgba(255, 255, 255, .8);
	border: 1px black solid;
    padding: 20px;
}
#two_column h2+ul {
	padding: .8em;
	
}

#left {
 	background-color: rgba(240, 80, 0 ,.8);
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
	
}

#right{
	background-color: rgba(240, 80, 0 ,.8);
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
 
 a{
	text-decoration:none;
}



.tiles a{
	border: 1px solid black;
	padding: 10em 1.5em 2em 1.5em;
	margin-top: 13em;
	margin-bottom: 5em;
	float: left;


}

.perc {
	clear:both;
	margin-left: 6em;
	 background: url('../images/Crotales1.jpg') fixed no-repeat left ;   	
	
}
.orch {
	
	background: url('../images/cello.jpeg') fixed no-repeat left;
}
.keys {
	
	background: url('../images/keys.png') fixed no-repeat center;
}
.backline {
	background: url('../images/backline1.png') fixed no-repeat right;
}
.amp {
	
	background: url('../images/mic.png') fixed no-repeat right;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

   



