* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-size:18px;
}
ul {
	padding-left:1.25em;
}
#hero{
	background: url('image.jpeg') no-repeat fixed;
	background-size: cover;
	height: 90vh;
	padding: 10em 10em 0;
}
#slogan {
	background-color: rgba(255,255,255,.75);
	color: black;
	font-family: helvetica;
}
#slogan p{
	font-style: italic; 
}
#copy {
	background: rgb(255, 88, 0);
	color: white;
	padding: 4em 0;
}
#percTiles  {
	background: url('Crotales1.jpg') no-repeat ;
	background-size:cover;
	border: 1px solid black;
	color: darkorange;
	font-weight: bolder;
	height:400px;
	width:400px;	
}
#equipTiles { 
	background: url('backline1.jpg') no-repeat ;
	background-size: cover;
	color: darkorange;
	border: 1px solid black;
	font-weight: bolder;
	height:400px;
	width:400px;
}


    




